.list {
  margin-top: 20px;
  font-size: 18px;
  color: #f2e9e4;
}
.item {
  margin-bottom: 20px;
  border: 1px solid #f2e9e4;
  border-radius: 5px;
}
.name {
  font-size: 20px;
  font-weight: 500;
  font-variant: small-caps;
  margin-bottom: 15px;
}
.img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
